* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: linear-gradient(135deg, #d7ddec 0%, #e1e5f4 60%, #e7e7e7 100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;
}
